.Wrapper{
    margin: 10px;
    max-width: 30vw;
    transition: background-color .5s ease-in-out;
    &:hover{
        background-color:#363636;
    }
}
.Clickable{
    &:hover{
        cursor: pointer;
    }
}
.Image{}
@media (max-width:768px){
    .Wrapper{
        max-width: 70vw;
    }
}