.Wrapper{
    margin: 10px;
    max-width: 30vw;
    max-width: 350px;
    align-content: center;
    transition: background-color .5s ease-in-out;
    &:hover{
        background-color:#363636;
    }
}
.Clickable{
    &:hover{
        cursor: pointer;
    }
}